@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins, sans-serif;
}

ul {
  list-style: none;
}

.wrapper {
  padding: 50px;
}

.product__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
}
.card {
  width: 234px;
  padding: 7px 24px;
  background-color: rgb(255, 255, 255);
}
.card__availability {
  color: #78a962;
  margin: 0 0 7px 0;
}
.card__availability::before {
  content: "";
  display: inline-block;
  margin: 0 5px 0 0;
  width: 10px;
  height: 10px;
  background: url(../img/stock.svg) no-repeat;
}
.card__image {
  width: 100%;
}
.card__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  margin: 0 0 7px 0;
}
.card__description {
  font-size: 13px;
  margin: 0 0 20px 0;
}
.card__old-price {
  margin: 0 0 10px 0;
  color: #666666;
  text-decoration: line-through;
  font-size: 14px;
}
.card__price {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.card:hover {
  -webkit-box-shadow: 0px 10px 20px rgb(235, 235, 235);
          box-shadow: 0px 10px 20px rgb(235, 235, 235);
}

.star-rating {
  cursor: pointer;
  color: #cacdd8;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.card__reviews__review {
  color: #a2a6b0;
}

.active {
  color: #e9a426;
}